@charset "UTF-8";

body{
    font-family:'Hiragino Kaku Gothic Pro','Meiryo',sans-serif;
    font-size: 15px;
    border-top: 10px solid#79a1b1 !important;
}
a{
    text-decoration: none;
    color: #333;
}
.logo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.logo img{
    display: inline-block;
    margin-bottom: 5px;
}
.w_inner{
    width: 1200px;
    margin: 0 auto;
}
.header ul{
    display: flex;
}
.header ul li{
    width: 500px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.header ul li:first-child{
    border-left: 1px solid #ddd;
}
.header ul li a{
    display: block;
}
.header_img{
    text-align: center;
    margin-bottom: 50px;
}
.header_img{
    display: inline-block;
}
.container{
    text-align: center;
}
.container_service .service_block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.container_service .service{
    width: 380px;
    text-align: center;
}
.container_service .service .img{
    display: flex;
}
.container_service .service .ttl{
    font-size: 15px;
    text-align: justify;
}
.container_service h3{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
